@model MVC_CV.Models.Entity.TBL_CERTIFICATES
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3 style="color:#00c31e; text-align:center">Sertifika Güncelleme Sayfası</h3>

<form method="post">


    <label>Tarih</label>
    @Html.TextBoxFor(x => x.DATE, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.DESCRİPTİON, new { @class = "form-control" })

    <br />

    <button class="btn btn-success">Güncelle</button>

</form>

