
<div class="resume-section-content">
    <h2>İletİşİm</h2>

    <form method="post">

        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="FULLNAME"/>

        <label>Mail</label>
        <input type="text" class="form-control"  name="MAİL"/>

        <label>Konu</label>
        <input type="text" class="form-control" name="SUBJECT"/>

        <label>Mesaj</label>
        <input type="text" class="form-control" name="MESSAGE"/>

        
        <br />  

        <button class="btn btn-info">Mesaj Gönder</button>

    </form>
</div>